*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	font-family: Arial, sans-serif;
	line-height: 1.6;
	background-color: #121212;      
	color: #E0E0E0;                 
	padding: 20px;
}

header{
	text-align: center;
	margin-bottom: 20px;
}

header h1{
	color: #EAEAEA;
	font-size: 28px;
}

h2{
	color: #9CDCFE;                 
	margin-bottom: 10px;
	border-bottom: 1px solid #2A2A2A;
	padding-bottom: 5px;
}


ul{
	list-style-type: disc;
	padding-left: 20px;
}


a{
	color: #4FC3F7;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	color: #81D4FA;
}


.perfil{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
}

.foto-perfil{
	width: 175px;
	height: 175px;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid #4FC3F7;
}


footer{
	text-align: center;
	margin-top: 20px;
	font-size: 0.9em;
	color: #AAAAAA;
}

.tema-btn{
    position: fixed;
    top: 20px;
    left: 20px;    
    z-index: 9999;
}

.tema_btn button{
	padding:10px 14px;
	border:none;
	border-radius:50%;
	cursor:pointer;
	font-size:16px;
	background-color: #222;
	color: #E0E0E0;
	box-shadow:0 2px 5px rgba(0,0,0,0.3)
}


