*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	font-family:Arial, sans-serif;
	line-height:1.6;
	background-color:#F4F4F4;
	color:#333;
	padding:20px;
}

header{
	text-align: center;
	margin-bottom:20px;
}

header h1{
	color: #2C3E50;
	font-size:28px;
}

h2{
	color:#34495E;
	margin-bottom:10px;
	border-bottom:10px;
	padding-bottom:5px;
}

ul{
	list-style-type: disc;
	padding-left:20px;
}

footer{
	text-align: center;
	margin-top:20px;
	font-size:0.9em;
	color:#777;
}

.perfil{
	display:flex;
	flex-direction: column;
	align-items: center;
	gap:10px;
}

.foto-perfil{
	width:175px;
	height:175px;
	object-fit:cover;
	border-radius:50%;
	border:2px solid #2C3E50;
}

.tema-btn{
    position: fixed;
    top: 20px;
    left: 20px;    
    z-index: 9999;
}

.tema_btn button{
	padding:10px 14px;
	border:none;
	border-radius:50%;
	cursor:pointer;
	font-size:16px;
	backdrop-color:#4FC3F2;
	color:#000;
	box-shadow:0 2px 5px rgba(0,0,0,0.3)
}



