*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	font-family:Arial, sans-serif;
	line-height:1.6;
	background-color:#F4F4F4;
	color:#333;
	padding:20px;
}

header{
	text-align: center;
	margin-bottom:20px;
}

heade h1{
	color: #2C3E50;
	font-size:28px;
}

h2{
	color:#34495E
	margin-bottom:10px;
	border-bottom:10px;
	padding-bottom:5px;
}

ul{
	list-style-type: disc;
	padding-left:20px.
}

footer{
	text-align: center;
	margin-top:20px;
	fonte-size:0.9em;
	color:#777
}
